﻿@model PagedList.IPagedList<CuaHangSach.Databases.CHUDE>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Chủ Đề";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}

<marquee direction="right" scrollamount=20>
    <h1 style="color:aqua">Quản Lý Chủ Đề</h1>
</marquee>
<hr />
<table class="table table-bordered">
    <tr style="color:yellow">
        <th >
            Mã Chủ Đề
        </th>
        <th>
            Tên Chủ Đề
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr style="color:black">
            <td>
                @Html.DisplayFor(modelItem => item.MaCD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenCD)
            </td>
            <td>
                <a class="skew-button" href="ChinhSuaChuDe/@item.MaCD" title="Chỉnh Sửa"><span class="glyphicon glyphicon-pencil"></span></a>
                <a class="skew-button delete-link" href="XoaChuDe/@item.MaCD" title="Xóa"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
    }
</table>

<div>
    <a class="skew-button pull-right" href="ThemChuDe" title="Thêm"><span class="glyphicon glyphicon-plus"></span></a>
</div>

<div>
    @Html.PagedListPager(Model, page => Url.Action("ChuDe", new { page }))
</div>
<hr />
@section Scripts{
    <script>
        $('.delete-link').click(function (e) {
            var a_href = $(this).attr('href'); /* Lấy giá trị của thuộc tính href */
            e.preventDefault(); /* Không thực hiện action mặc định */
            $.ajax({ /* Gửi request lên server */
                url: a_href, /* Nội dung trong Delete.cshtml cụ thể là deleteModal div được server trả về */
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (data) { /* Sau khi nhận được giá */
                    $('.body-content').prepend(data); /* body-content div (định nghĩa trong _Layout.cshtml) sẽ thêm deleteModal div vào dưới cùng */
                    $('#deleteModal').modal('show'); /* Hiển thị deleteModal div dưới kiểu modal */
                }
            });
        });
    </script>
}