﻿@model CuaHangSach.Databases.CHUDE

@{
    ViewBag.Title = "Xóa Chủ Đề";
    Layout = null;
}

<div class="modal fade" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" style="color:red"><span class="glyphicon glyphicon-warning-sign"></span> Cảnh Báo</h4>
            </div>
            <div class="modal-body">
                <h3>Bạn có chắc muốn xóa chủ đề này không?</h3>
                <div>
                <hr />
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th style="color:blue">Mã Chủ Đề:</th>
                            <td>@Html.DisplayFor(model => model.MaCD)</td>
                        </tr>
                        <tr>
                            <th style="color:blue">Tên Chủ Đề:</th>
                            <td>@Html.DisplayFor(model => model.TenCD)</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
            @using (Html.BeginForm("XoaChuDe", "QuanLyChuDe", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="form-actions no-color text-center pull-right">
                    <button type="submit" class="skew-button" title="Xóa"><span class="glyphicon glyphicon-trash"></span></button>
                    <button type="button" class="skew-button" data-dismiss="modal" title="Hủy"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
            }
            </div>
        </div>
    </div>
</div>
