﻿@model IEnumerable<CuaHangSach.Databases.CHITIETDONHANG>

@{
    ViewBag.Title = "Chi Tiết Đơn Hàng";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}

<marquee direction="right" scrollamount=20>
    <h1 style="color:aqua">Quản Lý Chi Tiết Đơn Hàng</h1>
</marquee>
<hr />
<table class="table table-bordered">
    <tr style="color:yellow">
        <th>
            Mã Khách Hàng
        </th>
        <th>
            Tên Người Đặt
        </th>
        <th>
            Ảnh Bìa
        </th>
        <th>
            Tên Sách
        </th>
        <th>
            Giá Bán
        </th>
        <th>
            Số Lượng
        </th>
        <th>
            Tổng
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr style="color:black">
            <td>
                @Html.DisplayFor(modelItem => item.MaDDH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DONDATHANG.HoTenKH)
            </td>
            <td>
                <img src="~/Content/Images/Sach/@item.SACH.AnhBia" alt="cover page" width="80" />
            </td>
            @{
                string tensach = item.SACH.TenSach;
            }
            @if (tensach.Length >= 25)
            {
                tensach = tensach.ToString().Substring(0, 25);
            }
            <td title="@item.SACH.TenSach">
                @tensach...
            </td>
            <td>
                @item.SACH.GiaBan đ
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @item.DonGia đ
            </td>
            <td>
                <a class="skew-button delete-link" href="XoaChiTietDonHang/@item.MaCTDH" title="Xóa Chi Tiết Đơn Hàng Này"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
    }
</table>
<hr />

@section Scripts{
    <script>
        $('.delete-link').click(function (e) {
            var a_href = $(this).attr('href'); /* Lấy giá trị của thuộc tính href */
            e.preventDefault(); /* Không thực hiện action mặc định */
            $.ajax({ /* Gửi request lên server */
                url: a_href, /* Nội dung trong Delete.cshtml cụ thể là deleteModal div được server trả về */
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (data) { /* Sau khi nhận được giá */
                    $('.body-content').prepend(data); /* body-content div (định nghĩa trong _Layout.cshtml) sẽ thêm deleteModal div vào dưới cùng */
                    $('#deleteModal').modal('show'); /* Hiển thị deleteModal div dưới kiểu modal */
                }
            });
        });
    </script>
}
