﻿
@{
    ViewBag.Title = "Chi Tiết Đơn Hàng";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}

<marquee direction="right" scrollamount=20>
    <h1 style="color:aqua">Quản Lý Chi Tiết Đơn Hàng</h1>
</marquee>
<hr />
<div class="alert alert-danger">
    Không có dữ liệu trong hệ thống.
</div>

