﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link href="~/Content/Css/Button/Skewed_Button.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/Css/Body.css" rel="stylesheet" />
    <link href="~/Content/Css/KhoSach.css" rel="stylesheet" />
    <link href="~/Content/Css/Loading.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/Css/QuanLyKhoSach.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/Css/Slide_Down_Box_Menu.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
    <script type="text/javascript">
        $(window).load(function () {
            $('.progressbar').fadeOut(50).remove();
        })
    </script>
    <title>@ViewBag.Title - Administrator</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="progressbar">
        <div class="stylization"></div>
    </div>

    <div class="head1">
        <img src="~/Areas/Admin/Content/Images/ADMINISTRATOR_Logo.jpg" />
        <ul id="sdt_menu" class="sdt_menu">
            <li>
                <a href="/Home/Index">
                    <img src="~/Areas/Admin/Content/Images/Slide_Down_Box_Menu/Trang_Chu.jpg" alt="" />
                    <span class="sdt_active"></span>
                    <span class="sdt_wrap">
                        <span class="sdt_link">Trang Chủ</span>
                        <span class="sdt_descr">Trở Về Trang Chủ</span>
                    </span>
                </a>
            </li>
            <li>
                <a>
                    <img src="~/Areas/Admin/Content/Images/Slide_Down_Box_Menu/Quan_Ly.jpg" alt="" />
                    <span class="sdt_active"></span>
                    <span class="sdt_wrap">
                        <span class="sdt_link">Quản Lý</span>
                        <span class="sdt_descr">Nơi Quản Lý Dữ Liệu</span>
                    </span>
                </a>
                <div class="sdt_box">
                    <a href="/Admin/QuanLyKhoSach/KhoSach">Kho Sách</a>
                    <a href="/Admin/QuanLyChuDe/ChuDe">Chủ Đề</a>
                    <a href="/Admin/QuanLyNhaXuatBan/NhaXuatBan">Nhà Xuất Bản</a>
                    <a href="/Admin/QuanLyNguoiDung/NguoiDung">Người Dùng</a>
                    <a href="/Admin/QuanLyDonHang/DonHang">Đơn Đặt Hàng</a>
                    <a href="/Admin/QuanLyChiTietDonHang/ChiTietDonHang">Chi Tiết Đơn Hàng</a>
                </div>
            </li>
            <li>
                <a href="#">
                    <img src="~/Areas/Admin/Content/Images/Slide_Down_Box_Menu/Thong_Ke.jpg" alt="" />
                    <span class="sdt_active"></span>
                    <span class="sdt_wrap">
                        <span class="sdt_link">Thống Kê</span>
                        <span class="sdt_descr">Lịch Sử Website</span>
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/Areas/Admin/Content/Images/Slide_Down_Box_Menu/Thong_Tin.jpg" alt="" />
                    <span class="sdt_active"></span>
                    <span class="sdt_wrap">
                        <span class="sdt_link">Thông Tin</span>
                        <span class="sdt_descr">Thông Tin Website</span>
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/Areas/Admin/Content/Images/Slide_Down_Box_Menu/Thong_Bao.jpg" alt="" />
                    <span class="sdt_active"></span>
                    <span class="sdt_wrap">
                        <span class="sdt_link">Thông Báo</span>
                        <span class="sdt_descr">Xem Thông Báo</span>
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/Areas/Admin/Content/Images/Slide_Down_Box_Menu/Nguoi_Dung.jpg" alt="" />
                    <span class="sdt_active"></span>
                    <span class="sdt_wrap">
                        <span class="sdt_link">Cá Nhân</span>
                        <span class="sdt_descr">Xin Chào: @User.Identity.Name!</span>
                    </span>
                </a>
                <div class="sdt_box">
                    <a class="glyphicon glyphicon-user" href="#"> Thông Tin</a>
                    <a class="glyphicon glyphicon-envelope" href="#"> Tin Nhắn</a>
                    <a class="glyphicon glyphicon-log-out" href="/TaiKhoan/DangXuat"> Đăng Xuất</a>
                </div>
            </li>
        </ul>
    </div>

    <div class="head2">

    </div>

    <div class="container body-content">
        @RenderBody()
        <footer>
            
        </footer>
    </div>

    <script src="~/Areas/Admin/Content/Js/jquery.easing.1.3.js"></script>
    <script type="text/javascript">
            $(function() {
				/**
				* for each menu element, on mouseenter,
				* we enlarge the image, and show both sdt_active span and
				* sdt_wrap span. If the element has a sub menu (sdt_box),
				* then we slide it - if the element is the last one in the menu
				* we slide it to the left, otherwise to the right
				*/
                $('#sdt_menu > li').bind('mouseenter',function(){
					var $elem = $(this);
					$elem.find('img')
						 .stop(true)
						 .animate({
							'width':'170px',
							'height':'85px',
							'left':'0px'
						 },400,'easeOutBack')
						 .andSelf()
						 .find('.sdt_wrap')
					     .stop(true)
						 .animate({'top':'140px'},500,'easeOutBack')
						 .andSelf()
						 .find('.sdt_active')
					     .stop(true)
						 .animate({'height':'170px'},300,function(){
						var $sub_menu = $elem.find('.sdt_box');
						if($sub_menu.length){
							var left = '170px';
							if($elem.parent().children().length == $elem.index()+1)
								left = '-170px';
							$sub_menu.show().animate({'left':left},200);
						}
					});
				}).bind('mouseleave',function(){
					var $elem = $(this);
					var $sub_menu = $elem.find('.sdt_box');
					if($sub_menu.length)
						$sub_menu.hide().css('left','0px');

					$elem.find('.sdt_active')
						 .stop(true)
						 .animate({'height':'0px'},300)
						 .andSelf().find('img')
						 .stop(true)
						 .animate({
							'width':'0px',
							'height':'0px',
							'left':'85px'},400)
						 .andSelf()
						 .find('.sdt_wrap')
						 .stop(true)
						 .animate({'top':'25px'},500);
				});
            });
    </script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
