﻿@model CuaHangSach.Databases.NGUOIDUNG

@{
    ViewBag.Title = "Chỉnh Sửa Người Dùng";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}

<h2 style="color:aqua">Chỉnh Sửa Người Dùng</h2>
<hr />
@using (Html.BeginForm("LuuChinhSuaNguoiDung", "QuanLyNguoiDung", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4 style="padding-left:10px" class="text-warning">Dấu * là bắt buộc!</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaND)
        <div class="form-group" style="color:red">
            @Html.LabelFor(model => model.HoTenND, "*Họ và Tên:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HoTenND, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HoTenND, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="color:red">
            @Html.LabelFor(model => model.TaiKhoanND, "*Tài Khoản:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TaiKhoanND, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TaiKhoanND, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="color:red">
            @Html.LabelFor(model => model.MatKhauND, "*Mật Khẩu:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MatKhauND, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MatKhauND, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="color:red">
            @Html.LabelFor(model => model.EmailND, "*Email:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmailND, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmailND, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="color:yellow">
            @Html.LabelFor(model => model.DiaChiND, "Địa Chỉ:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DiaChiND, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DiaChiND, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="color:yellow">
            @Html.LabelFor(model => model.DienThoaiND, "Điện Thoại:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DienThoaiND, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DienThoaiND, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="color:yellow">
            @Html.LabelFor(model => model.NgaySinhND, "Ngày Sinh:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgaySinhND, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NgaySinhND, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="color:yellow">
            @Html.LabelFor(model => model.GioiTinh, "Giới Tính:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="color:yellow">
                @Html.RadioButtonFor(model => model.GioiTinh, "true", new { id = "yes" })
                @Html.Label("yes", "Nam")
                @Html.RadioButtonFor(model => model.GioiTinh, "false", new { id = "no" })
                @Html.Label("no", "Nữ")
                @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" style="color:yellow">Thêm Quyền:</label>
            <div class="col-md-10">
                @Html.DropDownList("MaQuyen", ViewBag.ListQuyen as IEnumerable<SelectListItem>, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-10">
                <button class="skew-button" type="submit" title="Luư"><span class="glyphicon glyphicon-save"></span></button>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Trở Về", "NguoiDung")
</div>
<hr />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
