﻿@model PagedList.IPagedList<CuaHangSach.Databases.NGUOIDUNG>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Người Dùng";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}

<marquee direction="right" scrollamount=20>
    <h1 style="color:aqua">Quản Lý Người Dùng</h1>
</marquee>
<hr />
<table class="table table-bordered">
    <tr style="color:yellow">
        <th>
            Họ và Tên
        </th>
        <th>
            Tài Khoản
        </th>
        <th>
            Mật Khẩu
        </th>
        <th>
            Email
        </th>
        <th>
            Địa Chỉ
        </th>
        <th>
            Điện Thoại
        </th>
        <th>
            Ngày Sinh
        </th>
        <th>
            Giới Tính
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr style="color:black">
            <td>
                @Html.DisplayFor(modelItem => item.HoTenND)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaiKhoanND)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatKhauND)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailND)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChiND)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DienThoaiND)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaySinhND)
            </td>
            <td>
                @if (item.GioiTinh == true)
                {
                    <span>Nam</span>
                }
                else
                {
                    <span>Nữ</span>
                }
            </td>
            <td>
                <a class="skew-button" href="ChinhSuaNguoiDung/@item.MaND" title="Chỉnh Sửa"><span class="glyphicon glyphicon-pencil"></span></a>
            </td>
        </tr>
    }
</table>

<div>
    @Html.PagedListPager(Model, page => Url.Action("NguoiDung", new { page }))
</div>
<hr />