﻿@model PagedList.IPagedList<CuaHangSach.Databases.SACH>
@using PagedList.Mvc;
@using CuaHangSach.Models;

@{
    ViewBag.Title = "Kho Sách";
}

<hr />
<div class="well well-sm">
    <a class="skew-button" href="/QuanLyGioHang/GioHang" title="Giỏ Hàng Của Bạn"><span class="glyphicon glyphicon-shopping-cart" id="Cart_Amount">@ViewBag.count</span></a>
    <div class="text-right">
        <strong>Chọn kiểu hiển thị</strong>
        <div class="btn-group">
            <a id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list"> </span>Dạng danh sách</a>
            <a id="grid" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th"></span>Dạng lưới</a>
        </div>
    </div>
</div>

<div class="container">
    <div id="products" class="row list-group">
        @foreach (var item in Model)
        {
            <div class="item col-xs-3 col-lg-3">
                <div class="thumbnail">
                    <a href="ThongTinSach/@item.MaSach"><img class="group list-group-image" src="~/Content/Images/Sach/@item.AnhBia" style="height:300px"></a>
                    <div class="caption">
                        <marquee onmouseover="this.stop();" onmouseout="this.start();" direction="left" scrollamount=5>
                            <h3 style="color:aqua" title="@item.TenSach">@item.TenSach</h3>
                        </marquee>
                        <p class="group inner list-group-item-text" style="color:black"><span style="color:yellow">Chủ Ðề: </span>@item.CHUDE.TenCD</p>
                        <p class="group inner list-group-item-text" title="@item.NHAXUATBAN.TenNXB"><span style="color:yellow">Nhà Xuất Bản: </span><marquee><span style="color:black">@item.NHAXUATBAN.TenNXB</span></marquee></p>
                        <p class="group inner list-group-item-text" style="color:black"><span style="color:yellow">Số Lượng: </span>@item.SoLuongTon</p>
                        <div class="row">
                            <div class="col-xs-12 col-md-6" style="color:red">
                                <p class="lead">@item.GiaBan <span>đ</span></p>
                            </div>
                            <div>
                                <a class="skew-button" onclick="ThemCartItem('@item.MaSach')" title="Thêm Sách Này Vào Giỏ Hàng"><span class="glyphicon glyphicon-shopping-cart"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         }
    </div>
</div>

<div>
    @Html.PagedListPager(Model, page => Url.Action("CuaHang", new { page }))
</div>

<hr />

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#list').click(function (event) { event.preventDefault(); $('#products .item').addClass('list-group-item'); });
            $('#grid').click(function (event) {
                event.preventDefault(); $('#products .item').removeClass('list-group-item');
                $('#products .item').addClass('grid-group-item');
            });
        });
    </script>
    @{
        if (Session["GioHang"] != null)
        {
            int cartcount = 0;
            List<CartItem> ls = (List<CartItem>)Session["GioHang"];
            foreach (CartItem item in ls)
            {
                cartcount += item.Quality;
            }
            ViewBag.count = cartcount;
        }
    }
    <script>
        function ThemCartItem(MaSach) {
            $.ajax({
                type: 'POST',
                url: '/QuanLyGioHang/ThemCartItem',
                data: { id: MaSach },
                success: function (data) {
                    $("#Cart_Amount").html(data.ItemAmount);
                }
            });
        }
    </script>
}