﻿@model CuaHangSach.Databases.SACH

@{
    ViewBag.Title = "Thông Tin";
}

<h2 style="color:aqua">Thông Tin Sách</h2>

<div>
    <table class="table table-bordered">
        <tr>
            <th style="color:yellow">
                Ảnh Bìa:
            </th>
            <td>
                <img src="~/Content/Images/Sach/@Model.AnhBia" width="100" />
            </td>
        </tr>
        <tr>
            <th style="color:yellow">
                Tên Sách:
            </th>
            <td style="color:black">
                @Html.DisplayFor(model => model.TenSach)
            </td>
        </tr>
        <tr>
            <th style="color:yellow">
                Chủ Đề:
            </th>
            <td style="color:black">
                @Html.DisplayFor(model => model.CHUDE.TenCD)
            </td>
        </tr>
        <tr>
            <th style="color:yellow">
                Ngày Xuất Bản
            </th>
            <td style="color:black">
                @Html.DisplayFor(model => model.NHAXUATBAN.TenNXB)
            </td>
        </tr>
        <tr>
            <th style="color:yellow">
                Ngày Cập Nhật:
            </th>
            <td style="color:black">
                @Html.DisplayFor(model => model.NgayCapNhat)
            </td>
        </tr>
        <tr>
            <th style="color:yellow">
                Mô Tả:
            </th>
            <td style="color:black">
                @Html.DisplayFor(model => model.MoTa)
            </td>
        </tr>
        <tr>
            <th style="color:yellow">
                Số Lượng:
            </th>
            <td style="color:black">
                @Html.DisplayFor(model => model.SoLuongTon)
            </td>
        </tr>
        <tr>
            <th style="color:yellow">
                Giá Bán:
            </th>
            <td style="color:red">
                <h5>@Model.GiaBan <span>VNĐ</span></h5>
            </td>
        </tr>
    </table>
</div>

<p>
    @Html.ActionLink("Trở Về", "CuaHang")
</p>
