﻿@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body{
    background-image: url('/Content/Images/Background/Background_6.jpg');
    background-size: cover;
    font-family: Arial, Tahoma;
    font-size: 12px;
}
.head1{
    background-image: url('/Content/Images/Background/Banner_2.jpg');
    background-size: cover;
    width: 1349px;
    height: 90px;
    background-color: #ffffff;
    border: 0px solid #808080;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -57px;
    margin-bottom: 0px;
}
.head1 img{
    width: 329px;
    height: 90px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    bottom: 10px;
}
.head2{
    background-image: url('/Content/Images/Background/Banner_1.jpg');
    width: 1349px;
    height: 171px;
    background-color: #ffffff;
    border: 0px solid #808080;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}