﻿/*!
 * Start Bootstrap - Shop Homepage HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption-qlks {
    height: 220px;
    overflow: hidden;
}

.caption-qlks h4 {
    white-space: nowrap;
}

.thumbnail-qlks img {
    width: 20%;
}

.ratings-qlks {
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 95px;
    color: #d17581;
}

.thumbnail-qlks {
    background-image: url('/Content/Images/Background/Background_Item_3.gif');
    background-size: cover;
    margin-bottom: 10px;
margin-left: 0px;
-webkit-border-radius: 0px; 
-moz-border-radius: 0px;    
border-radius: 0px;
    padding: 0px;
}

.thumbnail-qlks .caption-qlks-full {
    padding: 9px;
    color: #333;
}