﻿.sexy-menu ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
 
.sexy-menu li {
    float: left;
}
.sexy-menu a {
    float: left;
    color: #eee;
    margin: 14px 6px;
    padding: 3px 6px 3px 6px;
    text-decoration: none;
    border: 1px solid #831608;
    font: bold 15px Arial, Helvetica;
    background-color: #831608;
    background-image: linear-gradient(#bb413b, #831608);
    border-radius: 4px;
    text-shadow: 2px 2px 2px #000000;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3), 2px 3px 2px rgba(0, 0, 0, 0.7), 0 2px 2px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}
 
.sexy-menu a:hover {
    background-color: #bb413b;
    background-image: linear-gradient(#831608, #bb413b);
}
 
.sexy-menu a:active {
    background: #bb413b;
    position: relative;
    top: 2px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.7) inset;
}

.sexy-menu span {
    border: 1px dashed #eba1a3;
    display: inline-block;
    margin: 0px 0px 0px 0px;
    padding: 9px 64px 10px 60px;
    cursor: pointer;
    background-color: #bb413b;
    background-image: linear-gradient(#d4463c, #aa2618);
}
 
.sexy-menu a:hover span {
    background-color: #bb413b;
    background-image: linear-gradient(#aa2618, #d4463c);
}