﻿@model CuaHangSach.Databases.DONDATHANG

@{
    ViewBag.Title = "Chỉnh Sửa Đơn Hàng";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}

<h2 style="color:aqua">Chỉnh Sửa Đơn Hàng</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 style="padding-left:10px" class="text-warning">Dấu * là bắt buộc!</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" style="color:red">
            @Html.LabelFor(model => model.HoTenKH, "*Họ và Tên:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HoTenKH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HoTenKH, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="color:red">
            @Html.LabelFor(model => model.DienThoaiKH, "*Điện Thoại:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DienThoaiKH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DienThoaiKH, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="color:yellow">
            @Html.LabelFor(model => model.EmailKH, "Email:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmailKH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmailKH, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="color:red">
            @Html.LabelFor(model => model.DiaChiKH, "*Địa Chỉ:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DiaChiKH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DiaChiKH, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="color:yellow">
            @Html.LabelFor(model => model.DaThanhToan, "Tình Trạng Thanh Toán:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="color:black">
                @Html.RadioButtonFor(model => model.DaThanhToan, "true", new { id = "yes" })
                @Html.Label("yes", "Đã Thanh Toán")
                @Html.RadioButtonFor(model => model.DaThanhToan, "false", new { id = "no" })
                @Html.Label("no", "Chưa Thanh Toán")
                @Html.ValidationMessageFor(model => model.DaThanhToan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="color:yellow">
            @Html.LabelFor(model => model.TinhTrangGiaoHang, "Tình Trạng Giao Hàng:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="color:black">
                @Html.RadioButtonFor(model => model.TinhTrangGiaoHang, "true", new { id = "yes" })
                @Html.Label("yes", "Đã Giao Hàng")
                @Html.RadioButtonFor(model => model.TinhTrangGiaoHang, "false", new { id = "no" })
                @Html.Label("no", "Chưa Giao Hàng")
                @Html.ValidationMessageFor(model => model.TinhTrangGiaoHang, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="color:yellow">
            @Html.LabelFor(model => model.NgayGiao, "Ngày Giao:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayGiao, new { htmlAttributes = new { @class = "form-control datepicker" } })
                @Html.ValidationMessageFor(model => model.NgayGiao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-10">
                <button class="skew-button" type="submit" title="Luư"><span class="glyphicon glyphicon-save"></span></button>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Trở Về", "DonHang")
</div>
<hr />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
