﻿@model IEnumerable<CuaHangSach.Databases.DONDATHANG>

@{
    ViewBag.Title = "Đơn Hàng";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}

<marquee direction="right" scrollamount=20>
    <h1 style="color:aqua">Quản Lý Đơn Hàng</h1>
</marquee>
<hr />
<table class="table table-bordered">
    <tr style="color:yellow">
        <th>
            Mã Khách Hàng
        </th>
        <th>
            Họ và Tên
        </th>
        <th>
            Điện Thoại
        </th>
        <th>
            Email
        </th>
        <th>
            Địa Chỉ
        </th>
        <th>
            Ngày Đặt
        </th>
        <th>
            Ngày Giao
        </th>
        <th>
            Tình Trạng Thanh Toán
        </th>
        <th>
            Tình Trạng Giao Hàng
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr style="color:black">
            <td>
                @Html.DisplayFor(modelItem => item.MaDDH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoTenKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DienThoaiKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChiKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayGiao)
            </td>
            <td>
                @if (item.DaThanhToan == true)
                {
                    <span>Đã Thanh Toán</span>
                }
                else
                {
                    <span>Chưa Thanh Toán</span>
                }
            </td>
            <td>
                @if (item.TinhTrangGiaoHang == true)
                {
                    <span>Đã Giao Hàng</span>
                }
                else
                {
                    <span>Chưa Giao Hàng</span>
                }
            </td>
            <td>
                <a class="skew-button" href="ChinhSuaDonHang/@item.MaDDH" title="Chỉnh Sửa Đơn Hàng"><span class="glyphicon glyphicon-pencil"></span></a>
                <a class="skew-button delete-link" href="XoaDonHang/@item.MaDDH" title="Xóa Đơn Hàng Này"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
    }
</table>
<hr />

@section Scripts{
    <script>
        $('.delete-link').click(function (e) {
            var a_href = $(this).attr('href'); /* Lấy giá trị của thuộc tính href */
            e.preventDefault(); /* Không thực hiện action mặc định */
            $.ajax({ /* Gửi request lên server */
                url: a_href, /* Nội dung trong Delete.cshtml cụ thể là deleteModal div được server trả về */
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (data) { /* Sau khi nhận được giá */
                    $('.body-content').prepend(data); /* body-content div (định nghĩa trong _Layout.cshtml) sẽ thêm deleteModal div vào dưới cùng */
                    $('#deleteModal').modal('show'); /* Hiển thị deleteModal div dưới kiểu modal */
                }
            });
        });
    </script>
}