﻿@model CuaHangSach.Databases.DONDATHANG

@{
    ViewBag.Title = "Xóa Đơn Hàng";
    Layout = null;
}

<div class="modal fade" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" style="color:red"><span class="glyphicon glyphicon-warning-sign"></span> Cảnh Báo</h4>
            </div>
            <div class="modal-body">
                <h3>Bạn có chắc muốn xóa đơn hàng này không?</h3>
                <div>
                    <hr />
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th style="color:blue">Người Đặt:</th>
                            <td>@Html.DisplayFor(model => model.HoTenKH)</td>
                        </tr>
                        <tr>
                            <th style="color:blue">Tình Trạng Thanh Toán:</th>
                            <td>
                                @if (Model.DaThanhToan == true)
                                {
                                    <span>Đã Thanh Toán</span>
                                }
                                else
                                {
                                    <span>Chưa Thanh Toán</span>
                                }
                            </td>
                        </tr>
                        <tr>
                            <th style="color:blue">Tình Trạng Giao Hàng:</th>
                            <td>
                                @if (Model.TinhTrangGiaoHang == true)
                                {
                                    <span>Đã Giao Hàng</span>
                                }
                                else
                                {
                                    <span>Chưa Giao Hàng</span>
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("XoaDonHang", "QuanLyDonHang", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-actions no-color text-center pull-right">
                        <button type="submit" class="skew-button" title="Xóa"><span class="glyphicon glyphicon-trash"></span></button>
                        <button type="button" class="skew-button" data-dismiss="modal" title="Hủy"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
