﻿@model IEnumerable<CuaHangSach.Databases.SACH>
@using CuaHangSach.Models;

@{
    ViewBag.Title = "Giỏ Hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:aqua">Giỏ Hàng Của Bạn</h2>
<hr />
<div class="table-responsive">
    @using (Html.BeginForm("CapNhatCartItem", "QuanLyGioHang", FormMethod.Post))
    {
        <table class="table table-bordered">
            <thead style="color:yellow">
                <tr>
                    <th>
                        Ảnh Bìa
                    </th>
                    <th>
                        Tên Sách
                    </th>
                    <th>
                        Giá Bán
                    </th>
                    <th>
                        Số Lượng
                    </th>
                    <th>
                        Tổng
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            @{
                double total = 0;
                List<CartItem> ListCartItem = (List<CartItem>)Session["GioHang"];
            }
            <tbody style="color:black">
            @if (ListCartItem != null)
            {
                foreach (var item in (List<CartItem>)Session["GioHang"])
                {
                    <tr>
                        <td>
                            <img src="~/Content/Images/Sach/@item.ProductOrder.AnhBia" alt="cover page" width="80" />
                        </td>
                        @{
                            string tensach = item.ProductOrder.TenSach;
                        }
                        @if (tensach.Length >= 25)
                        {
                            tensach = tensach.ToString().Substring(0, 25);
                        }
                        <td title="@item.ProductOrder.TenSach">
                            @tensach...
                        </td>
                        <td>
                            @item.ProductOrder.GiaBan đ
                        </td>
                        <td>
                            <input type="text" name="Quality" data-id="CapNhatCartItem('@item.ProductOrder.MaSach')" value="@item.Quality" />
                        </td>
                        <td>
                            @{
                                double value = (double)item.ProductOrder.GiaBan * item.Quality;
                                total += value;
                            }
                            @value đ
                        </td>
                        <td>
                            <div>
                                <a class="skew-button pull-right" onclick="XoaCartItem('@item.ProductOrder.MaSach')" title="Xóa Sách Này Khỏi Giỏ Hàng"><span class="glyphicon glyphicon-trash"></span></a>
                            </div>
                        </td>
                    </tr>
                }
            }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7" class="text-right">
                        <h4 style="color:yellow">Thành Tiền: <span style="color:aqua">@total đ</span></h4>
                    </td>
                </tr>
            </tfoot>
        </table>
        <p class="pull-right">
        @if (total != 0)
        {
            <button class="skew-button" type="submit" title="Cập Nhật"><span class="glyphicon glyphicon-refresh"></span></button>
            <a class="skew-button" href="/QuanLyCuaHang/CuaHang" title="Tiếp Tục Đến Cửa Hàng"><span class="glyphicon glyphicon-shopping-cart"></span></a>
            <a class="skew-button" href="/QuanLyGioHang/ThanhToan" title="Đặt Hàng"><span class="glyphicon glyphicon-ok"></span></a>
        }
        else
        {
            <a class="skew-button" href="/QuanLyCuaHang/CuaHang" title="Tiếp Tục Đến Cửa Hàng"><span class="glyphicon glyphicon-shopping-cart"></span></a>
        }
        </p>
    }
</div>

@section Scripts{
    <script>
        function XoaCartItem(MaSach) {
            $.ajax({
                type: 'POST',
                url: '/QuanLyGioHang/XoaCartItem',
                data: { id: MaSach },
                success: function (data) {
                    window.location.href = "GioHang";
                }
            });
        }
    </script>
}