﻿
@{
    ViewBag.Title = "Giỏ Hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:aqua">Giỏ Hàng Của Bạn</h2>
<hr />
<div class="alert alert-danger">
    Bạn không có sản phẩm trong giỏ hàng.
</div>
