﻿@using CuaHangSach.Models;

@{
    ViewBag.Title = "Đặt Hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:aqua">Đặt Hàng</h2>
<hr />
<div class="alert alert-success">
    Bạn vừa đặt hàng thành công.
</div>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead style="color:yellow">
            <tr>
                <th>
                    Ảnh Bìa
                </th>
                <th>
                    Tên Sách
                </th>
                <th>
                    Giá Bán
                </th>
                <th>
                    Số Lượng
                </th>
                <th>
                    Tổng
                </th>
            </tr>
        </thead>
        @{
            double total = 0;
            List<CartItem> ListCartItem = (List<CartItem>)Session["GioHang"];
        }
        <tbody style="color:black">
            @if (ListCartItem != null)
            {
                foreach (var item in (List<CartItem>)Session["GioHang"])
                {
                    <tr>
                        <td>
                            <img src="~/Content/Images/Sach/@item.ProductOrder.AnhBia" alt="cover page" width="80" />
                        </td>
                        @{
                            string tensach = item.ProductOrder.TenSach;
                        }
                        @if (tensach.Length >= 25)
                        {
                            tensach = tensach.ToString().Substring(0, 25);
                        }
                        <td title="@item.ProductOrder.TenSach">
                            @tensach...
                        </td>
                        <td>
                            @item.ProductOrder.GiaBan đ
                        </td>
                        <td>
                            @item.Quality
                        </td>
                        <td>
                            @{
                                double value = (double)item.ProductOrder.GiaBan * item.Quality;
                                total += value;
                            }
                            @value đ
                        </td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="7" class="text-right">
                    <h4 style="color:yellow">Thành Tiền: <span style="color:aqua">@total đ</span></h4>
                </td>
            </tr>
        </tfoot>
    </table>
    <p class="pull-right">
        <a class="skew-button" href="/QuanLyCuaHang/CuaHang" title="Tiếp Tục Đến Cửa Hàng"><span class="glyphicon glyphicon-shopping-cart"></span></a>
    </p>
</div>
<hr />
