﻿@model PagedList.IPagedList<CuaHangSach.Databases.SACH>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Kho Sách";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}

<marquee direction="right" scrollamount=20>
    <h1 style="color:aqua">Quản Lý Kho Sách</h1>
</marquee>
<hr />
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="thumbnail">
                <a><img src="~/Content/Images/Sach/@item.AnhBia" style="height:100px"></a>
                <div class="caption-qlks">
                    <marquee direction="left" scrollamount=5>
                        <h4 style="color:red" title="@item.TenSach">@item.TenSach</h4>
                    </marquee>
                    <p style="color:black"><span style="color:greenyellow">Chủ Ðề: </span>@item.CHUDE.TenCD</p>
                    <p style="color:black" title="@item.NHAXUATBAN.TenNXB"><span style="color:greenyellow">Nhà Xuất Bản: </span><span>@item.NHAXUATBAN.TenNXB</span></p>
                    @{
                        string mota = item.MoTa;
                    }
                    @if (mota.Length >= 100)
                    {
                        mota = mota.ToString().Substring(0, 100);
                    }
                    <p style="color:black" title="@item.MoTa"><span style="color:greenyellow">Mô Tả: </span>@mota...</p>
                    <p style="color:black"><span style="color:greenyellow">Số Lượng: </span>@item.SoLuongTon</p>
                </div>
                <div class="ratings-qlks">
                    <div class="col-xs-12 col-md-6" style="color:red">
                        <p class="lead">@item.GiaBan <span>đ</span></p>
                    </div>
                    <div class="pull-right">
                        <a class="skew-button" href="ChinhSuaSach/@item.MaSach" title="Chỉnh Sửa"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a class="skew-button delete-link" href="XoaSach/@item.MaSach" title="Xóa"><span class="glyphicon glyphicon-trash"></span></a>
                    </div>
                </div>
            </div>
        </div>
     }
</div>

<div>
    <a class="skew-button pull-right" href="ThemSach" title="Thêm"><span class="glyphicon glyphicon-plus" title="Thêm Sách Mới"></span></a>
</div>

<div>
    @Html.PagedListPager(Model, page => Url.Action("KhoSach", new { page }))
</div>
<hr />
@section Scripts{
    <script>
        $('.delete-link').click(function (e) {
            var a_href = $(this).attr('href'); /* Lấy giá trị của thuộc tính href */
            e.preventDefault(); /* Không thực hiện action mặc định */
            $.ajax({ /* Gửi request lên server */
                url: a_href, /* Nội dung trong Delete.cshtml cụ thể là deleteModal div được server trả về */
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (data) { /* Sau khi nhận được giá */
                    $('.body-content').prepend(data); /* body-content div (định nghĩa trong _Layout.cshtml) sẽ thêm deleteModal div vào dưới cùng */
                    $('#deleteModal').modal('show'); /* Hiển thị deleteModal div dưới kiểu modal */
                }
            });
        });
    </script>
}