﻿@{
    ViewBag.Title = "Warning";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class='Oops'>
    <div class='row font'>
        <div class='col-lg-12'></div>
        <div class='col-lg-12'>
            <h1 class="glyphicon glyphicon-warning-sign"></h1>
            <h2>Cảnh Báo!!! Bạn chưa Đăng Nhập hoặc tài khoản không có quyền truy cập vào chức năng này!!!</h2>
            <p>
                Bạn có thể trở về Trang Chủ.
                <br>
                Hoặc tiếp tục Đăng Nhập bằng tài khoản có chức năng quản lý.
                </br>
            </p>
            <a href="/Home/Index"><span class='button' style="color:white">TRANG CHỦ</span></a>
            <a href="/TaiKhoan/DangNhap"><span class='button' style="color:white">ĐĂNG NHẬP</span></a>
        </div>
    </div>
</div>
<div class='bg-img'></div>