﻿@{
    ViewBag.Title = "404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class='Oops'>
    <div class='row font'>
        <div class='col-lg-12'></div>
        <div class='col-lg-12'>
            <h1>404</h1>
            <h2>Oops, phát sinh lỗi không mong muốn.</h2>
            <p>
                Bạn có thể trở về Trang Chủ.
                <br>
                Hoặc tiếp tục đến Cửa Hàng.
                </br>
            </p>
            <a href="/Home/Index"><span class='button' style="color:white">TRANG CHỦ</span></a>
            <a href="/QuanLyCuaHang/CuaHang"><span class='button' style="color:white">CỬA HÀNG</span></a>
        </div>
    </div>
</div>
<div class='bg-img'></div>
