﻿
@{
    ViewBag.Title = "Đăng Nhập Thành Công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:aqua">Đăng Nhập</h2>
<hr />
<div class="alert alert-success">
    Đăng nhập thành công.
</div>

