﻿@model CuaHangSach.Models.DangNhapViewModel

@{
    ViewBag.Title = "Đăng Nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:aqua">Đăng Nhập</h2>
<hr />
@using (Html.BeginForm("KiemTraDangNhap", "TaiKhoan", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
        <div class="form-group" style="color:yellow">
            @Html.LabelFor(model => model.TaiKhoanND, "Tài Khoản:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TaiKhoanND, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TaiKhoanND, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="color:yellow">
            @Html.LabelFor(model => model.MatKhauND, "Mật Khẩu:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MatKhauND, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MatKhauND, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox" style="color:black">
                    @Html.CheckBoxFor(model => model.GhiNho)
                    Ghi Nhớ
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-10">
                <button class="skew-button" type="submit" title="Đăng Nhập"><span class="glyphicon glyphicon-log-in"></span></button>
            </div>
        </div>
    </div>
}
<hr />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}