﻿
@{
    ViewBag.Title = "Đăng Ký Thành Công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:aqua">Đăng Ký</h2>
<hr />
<div class="alert alert-success">
    Đăng ký thành công.
</div>
