﻿@model CuaHangSach.Databases.NGUOIDUNG

@{
    ViewBag.Title = "Thông Tin Tài Khoản";
}

<h2 style="color:black">Thông Tin Tài Khoản</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Họ và Tên:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoTenND)
        </dd>

        <dt>
            Tài Khoản:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaiKhoanND)
        </dd>

        <dt>
            Email:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailND)
        </dd>

        <dt>
            Địa Chỉ:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiaChiND)
        </dd>

        <dt>
            Số Điện Thoại:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DienThoaiND)
        </dd>

        <dt>
            Ngày Sinh:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NgaySinhND)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaND }) |
    @Html.ActionLink("Trở Về", "/")
</p>
