﻿.bg-img {
  position: absolute;
  margin-left: -113px;
  margin-top: -186px;
  width: 1357px;
  height: 749px;
  background: url('/Content/Images/Nothing to see here.gif') no-repeat center center fixed;
  background-size: 100% 100%;
  background-color: #000;
  filter: alpha(opacity=50);
}
 
.font {
  font-family: 'Avenir-Next',Avenir,Helvetica,sans-serif;
  color: #fff;
  background-color: none;
  z-index: 2;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
 
.Oops{ 
    width:970px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.Oops .font h1 {
    display: block;
    font-size: 13em;
    font-weight: bold;
}
 
.Oops .font h2 {
  margin-top: 0;
  max-width: 700px;
  font-size: 30px;
  width: 100%;
}
 
.Oops .font p {
  text-align: left;
  padding-bottom: 32px;
  font-size: 19px;
}
 
.Oops .font .button {
  display: inline-block;
  border: 3px solid #aaa;
  border-radius: 40px;
  padding: 15px 40px;
  margin-right: 15px;
  margin-bottom: 10px;
}
.Oops .font .button:hover {
  color: #e2e2e2;
  background: rgba(255, 255, 255, 0.2);
}
 
@media only screen and (max-width: 480px) {
  .Oops .font .button {
    background-color: white;
    color: #444444;
    width: 100%;
  }
 
  .Oops .font h1 {
    font-size: 120px;
  }
}