﻿@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body{
    background-image: url('/Content/Images/Background/Background_6.jpg');
    background-size: cover;
    font-family: Arial, Tahoma;
    font-size: 12px;
}