﻿.head{
    background-image: url('/Content/Images/Background/Banner_1.jpg');
    background-size: cover;
    width: 1366px;
    height: 100px;
    background-color: #ffffff;
    border: 0px solid #808080;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -57px;
    margin-bottom: 0px;
}