﻿@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);
.glyphicon {    
margin-right: 9px;
}
.thumbnail {
background-image: url('/Content/Images/Background/Background_Item_5.gif');
background-size: cover;
margin: 0px 0px 0px 0px;
font-family: Arial, Tahoma;
-webkit-border-radius: 0px; 
-moz-border-radius: 0px;    
border-radius: 0px;
}
.item.list-group-item { 
float: none;    
width: 97.5%;    
background-color: #fff; 
margin: 0px 0px 10px 0px;
}
.item.list-group-item:nth-of-type(odd):hover, .item.list-group-item:hover { 
background: #428bca;
}
.item.list-group-item .list-group-image {   
margin-right: 10px;
}
.item.list-group-item .thumbnail {  
margin-bottom: 0px;
}
.item.list-group-item .caption {    
padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd) { 
background: #eeeeee;
}
.item.list-group-item:before, .item.list-group-item:after { 
display: table; content:"";
}
.item.list-group-item img { 
float: left;
}
.item.list-group-item:after {   
clear: both;
}
.list-group-item-text {
margin: 0px 0px 11px;
}