﻿.slideshow { 
    position:relative;
    height:400px;
    overflow:hidden;
}
.slideshow div {
    position:absolute;
    top:0px;
    left:0;
    z-index:8;
}
.slideshow div img {
    width:1140px;
    height:400px;
}
.slideshow div.active {
    z-index:10;
}
.slideshow div.lastactive {
    z-index:9;
}