﻿/*--------------------------------------------------------------
1.0 - BASE SITE STYLES
--------------------------------------------------------------*/
*,*:after,*:before {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
 
.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}

/*--------------------------------------------------------------
2.0 - SEARCH FORM
--------------------------------------------------------------*/
.searchform {
  background:#f4f4f4;
  background:rgba(244,244,244,.79);
  border: 1px solid #d3d3d3;
    left: 60%;
  padding: 7px 7px;
  position: relative;
    margin: -105px 0 0 130px;
    top: 50%;
    height:50px;
  width:359px;
  box-shadow:0 3px 6px rgba(0,0,0,.37);
  -moz-box-shadow:0 4px 9px rgba(0,0,0,.37);
  -webkit-box-shadow:0 4px 9px rgba(0,0,0,.37);
  border-radius: 0px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 0px
}
 
.searchform input, .searchform button {
    float: left
}
.searchform input {
    background:#fff;
    border: none;
    font:12px/12px 'HelveticaNeue', Helvetica, Arial, sans-serif;
    margin-right: 15px;
    margin-top: 0px;
    padding: 10px;
    width: 216px;
    box-shadow: 0 0 7px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
    -webkit-box-shadow: 0 0 9px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
  border-radius: 20px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 30px
}
    .searchform input:focus {
        outline: none;
        box-shadow:0 0 4px #0d76be inset;
        -moz-box-shadow:0 0 4px #0d76be inset;
        -webkit-box-shadow:0 0 4px #0d76be inset;
    }
    .searchform input::-webkit-input-placeholder {
    font-style: italic;
    line-height: 15px
    }
 
    .searchform input:-moz-placeholder {
      font-style: italic;
    line-height: 15px
    }
 
.searchform button {
    background: #ffffff;
  float: left;
  border-right: 1px solid #eee;
  box-shadow: 0 1px 10px #0026ff;
  color: #4800ff;
  transition: all 0.3s linear;
    font-weight: bolder;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34adec', endColorstr='#2691dc',GradientType=0 );
    border: none;
    color:#0026ff;
    cursor: pointer;
    font: 13px/13px 'HelveticaNeue', Helvetica, Arial, sans-serif;
    padding: 10px;
    width:109px;
  border-radius: 30px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 30px;
}
    .searchform button:hover {
        background-color: #00ffff;
        color: #ff0000;
    }