﻿.skew-menu {
  text-align: center;
  margin-top: 0.5em;
  position: relative;
}
.skew-menu ul {
  display: inline-block;
  margin-left: 0px;
  margin-right: 470px;
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 0px;
  list-style: none;
  transform: skew(0deg);
}
.skew-menu ul li {
  background: #ffffff;
  float: left;
  border-right: 1px solid #eee;
  box-shadow: 0 1px 10px #0026ff;
  text-transform: uppercase;
  color: #4800ff;
  font-weight: bolder;
  transition: all 0.3s linear;
}
.skew-menu ul li:first-child {
  border-radius: 0px 0 0 0px;
}
.skew-menu ul li:last-child {
  border-right: none;
  border-radius: 0 0px 0px 0;
}
.skew-menu ul li:hover {
  background-color: #00ffff;
  color: #ff0000;
}
.skew-menu ul li a {
  display: block;
  padding: 1em 1em;
  color: inherit;
  text-decoration: none;
  transform: skew(0deg);
}