﻿@{
    ViewBag.Title = "Thông Tin";
}
<h2 style="color:aqua">Thông Tin</h2>
<hr />
<img src="~/Content/Images/HUTECH.png" />
<h4 style="color:red">TÌM HIỂU VÀ XÂY DỰNG ỨNG DỤNG WEBSITE BÁN HÀNG VỚI ASP.NET MVC</h4>
<hr />
<h4 style="color:yellow">Ngành: Công Nghệ Thông Tin</h4>
<h4 style="color:yellow">Chuyên ngành: Công Nghệ Phần Mềm</h4>
<h4 style="color:yellow">Giảng viên hướng dẫn: Ths. Nguyễn Đình Ánh</h4>
<h4 style="color:yellow">Sinh viên thực hiện: Hoàng Nhật Khánh Linh - Huỳnh Phước Duy</h4>
<h4 style="color:yellow">Mã số sinh viên: 1412360216 - 1412360010</h4>
<h4 style="color:yellow">Lớp: 14CTH01</h4>
<hr />