﻿@{
    ViewBag.Title = "Liên Hệ";
}
<h2 style="color:aqua">Liên Hệ</h2>
<hr />
<address style="color:black">
    TP.Hồ Chí Minh<br />
    300/108, Xô Viết Nghệ Tĩnh, Phường 21, quận Bình Thạnh<br />
    <abbr class="glyphicon glyphicon-phone-alt" title="Điện Thoại"></abbr>
    0933862934 - 01222959378
</address>

<address style="color:black">
    <strong>Email:</strong> <span>o0oo.sss.o0ooo00ooo0o.sss.oo0o@gmail.com</span><br />
    <strong>Facebook:</strong> <span>0933862934</span>
</address>
<hr />