﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="slideshow">
    <div><a href="#"><img src="~/Content/Images/List_Images/Book1.jpg" alt="" border="0" /></a></div>
    <div><a href="#"><img src="~/Content/Images/List_Images/Book2.jpg" alt="" border="0" /></a></div>
    <div><a href="#"><img src="~/Content/Images/List_Images/Book3.jpg" alt="" border="0" /></a></div>
    <div><a href="#"><img src="~/Content/Images/List_Images/Book4.jpg" alt="" border="0" /></a></div>
    <div><a href="#"><img src="~/Content/Images/List_Images/Book5.gif" alt="" border="0" /></a></div>
    <div><a href="#"><img src="~/Content/Images/List_Images/Book6.jpg" alt="" border="0" /></a></div>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/Content/Images/Youtube.png" width="150" />
        <p style="color:black">
            Ra mắt vào tháng 5 năm 2005, YouTube cho phép hàng tỷ người khám phá, xem và chia sẻ video gốc. YouTube có một diễn đàn để mọi người kết nối, thông tin và truyền cảm hứng cho nhau trên toàn cầu. Diễn đàn này hoạt động như một nền tảng phân phối dành cho người sáng tạo nội dung gốc và các nhà quảng cáo lớn nhỏ.
        </p>
        <a class="skew-button" href="https://www.youtube.com/?gl=VN"><span class="glyphicon glyphicon-hand-right"></span></a>
    </div>
    <div class="col-md-4">
        <img src="~/Content/Images/Zing_MP3.png" width="150" />
        <p style="color:black">
            Dịch vụ nhạc số với hàng triệu bài hát và MV có bản quyền chất lượng cao, giúp bạn nghe nhạc, tải nhạc, upload và đồng bộ kho nhạc của tôi trên nhiều thiết bị.
        </p>
        <a class="skew-button" href="http://mp3.zing.vn"><span class="glyphicon glyphicon-hand-right"></span></a>
    </div>
    <div class="col-md-4">
        <img src="~/Content/Images/Gun_Girl_Z.png" width="250" />
        <p style="color:black">
            Guns Girl - Shool DayZ là một trò chơi hành động đơn giản. Người chơi có thể thu thập các vật dụng từ các công đoạn. Để đối phó với các tình huống khác nhau, người chơi cần phải tạo một hệ thống vũ khí hữu ích.
        </p>
        <a class="skew-button" href="https://play.google.com/store/apps/details?id=com.fangcun.gg.en.aisa&hl=vi"><span class="glyphicon glyphicon-hand-right"></span></a>
    </div>
</div>