﻿@model PagedList.IPagedList<CuaHangSach.Databases.NHAXUATBAN>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Nhà Xuất Bản";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}

<marquee direction="right" scrollamount=20>
    <h1 style="color:aqua">Quản Lý Nhà Xuất Bản</h1>
</marquee>
<hr />
<table class="table table-bordered">
    <tr style="color:yellow">
        <th>
            Mã Nhà Xuất Bản
        </th>
        <th>
            Tên Nhà Xuất Bản
        </th>
        <th>
            Địa Chỉ Nhà Xuất Bản
        </th>
        <th>
            Điện Thoại Nhà Xuất Bản
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr style="color:black">
            <td>
                @Html.DisplayFor(modelItem => item.MaNXB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenNXB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChiNXB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DienThoaiNXB)
            </td>
            <td>
                <a class="skew-button" href="ChinhSuaNhaXuatBan/@item.MaNXB" title="Chỉnh Sửa"><span class="glyphicon glyphicon-pencil"></span></a>
                <a class="skew-button delete-link" href="XoaNhaXuatBan/@item.MaNXB" title="Xóa"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
    }
</table>

<div>
    <a class="skew-button pull-right" href="ThemNhaXuatBan" title="Thêm"><span class="glyphicon glyphicon-plus"></span></a>
</div>

<div>
    @Html.PagedListPager(Model, page => Url.Action("NhaXuatBan", new { page }))
</div>
<hr />
@section Scripts{
    <script>
        $('.delete-link').click(function (e) {
            var a_href = $(this).attr('href');
            e.preventDefault();
            $.ajax({
                url: a_href,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $('.body-content').prepend(data);
                    $('#deleteModal').modal('show');
                }
            });
        });
    </script>
}