﻿@model CuaHangSach.Databases.NHAXUATBAN

@{
    ViewBag.Title = "ThemNhaXuatBan";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}

<h2 style="color:aqua">Thêm Nhà Xuất Bản</h2>
<hr />
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4 style="padding-left:10px" class="text-warning">Dấu * là bắt buộc!</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" style="color:red">
            @Html.LabelFor(model => model.TenNXB, "*Tên Nhà Xuất Bản:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenNXB, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenNXB, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="color:yellow">
            @Html.LabelFor(model => model.DiaChiNXB, "Địa Chỉ Nhà Xuất Bản:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DiaChiNXB, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DiaChiNXB, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="color:yellow">
            @Html.LabelFor(model => model.DienThoaiNXB, "Điện Thoại Nhà Xuất Bản:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DienThoaiNXB, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DienThoaiNXB, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-10">
                <button class="skew-button" type="submit" title="Thêm"><span class="glyphicon glyphicon-plus"></span></button>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Trở Về", "NhaXuatBan")
</div>
<hr />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
