﻿.skew-button {
    background: #ffffff;
    float: left;
    border-right: 1px solid #eee;
    box-shadow: 0 1px 10px #0026ff;
    color: #4800ff;
    transition: all 0.3s linear;
    font-weight: bolder;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34adec', endColorstr='#2691dc',GradientType=0 );
    border: none;
    line-height: 35px;
    color:#0026ff;
    cursor: pointer;
    font: 15px/13px 'HelveticaNeue', Helvetica, Arial, sans-serif;
    padding: 14px 43px;
    margin: -7px 0px 0px 0px;
    width: 100px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}
.skew-button:hover{
    background-color: #00ffff;
    color: #ff0000;
}